body {
    background-color: #f4f1de;
}

header {
    background-color: #e07a5f;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: auto;
}

main .display { 
    color: #3d405b;
    text-align: center;
}

main .display p {
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
}