@media only screen and (min-width: 35rem) {

    .content {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 0.5em;
    }

    .hero{
        width: auto;
        height: 150px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-column: span 2;
        grid-row: 1;
    }

    .event{
        width: auto;
        height: 100px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-row: 5;
        grid-column: 1;
    }

    .join{ 
        display: block;
        width: auto;
        height: 100px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-row: 4;
        grid-column: span 2;
    }

    .news{
        width: auto;
        height: 100px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-row: 2;
        grid-column: span 2;
    }

    .weather{
        width: auto;
        height: 100px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-row: 5;
        grid-column: 2;
    }

    .spotlight{
        width: auto;
        height: 200px;
        border: 2px solid #004E98;
        background-color: #F9F9F7;
        padding: 1rem;
        margin: 0.5rem 0.5rem 0 0 ;
        grid-row:3;
        grid-column: span 2;
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        grid-gap: 1rem;
    }

    .box3{ 
        display: none;
    }







    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        justify-content: center;
    }

    nav ul li a {
        border: none;
    }

}