
body {
    background-color: #F9F9F7;
}

header {
    display: flex;
    background-color: #FABEC0;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


header h1 {
    color: #004E98;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-right: 10px;
}

.date {
    color: #004E98;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.date #headerdate {
    background-color: ;
    display: flex;
    text-align: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
}

.logo img {
    width: 100px;
}

.social {
    display: flex;
    flex-direction: column;
    width: 50px;
    /* margin-right: 1.5rem; */
    align-items: center;
    padding-right: 10px;
}

.social a {
    width: 30px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
}

.social a img {
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
}

picture {
    display: flex;
    margin-left: 10px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #004E98;
}

nav {
    text-align: center;
    background-color: #FABEC0;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #004E98;
    border-top: 1px solid rgba();
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: #004E98;
    color: #F9F9F7;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/*MAIN*/
main {
    grid-row: 2/3;
    text-align: center;
    margin: 15px;
}


/*----Main Join----*/

main .join {
    text-align: center;
}




/*----------- FORMS -------------*/

form fieldset {
	margin: 2rem 0;
	border: 1px solid #004E98;
	border-radius: 10px;
	padding: .5rem 2%;
}

form legend {
	color: #445ba9;
	margin: 0 1rem;
	padding: 0 .5rem;
}

form label.top,
form div {
	display: block;
	padding-top: 1rem;
	color: #004E98;
	font-size: .8rem;
}

form label.top input,
form label.top select {
	--webkit-appearence: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #004E98;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0, 0, 0, .1);
}

form label.sbs {
	display: block;
	padding: .75rem;
	color: #555;
}

form input.submitBtn {
	border: none;
	background-color: #004E98;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

form label.top input:required {
	border-left: rgb(200, 68, 68) solid 6px;
}

form label.top input:required:valid {
	border-left: green solid 6px;
}




.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    margin: 5px;
}

.content h3 {
    color: #004E98;
    font-family: 'Montserrat', sans-serif;
}

.spotlight {
    color: #004E98;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    width: auto;
    height: auto;
    border: 2px solid #004E98;
    background-color: #F9F9F7;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    grid-row: 1;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event {
    width: auto;
    height: auto;
    border: 2px solid #004E98;
    background-color: #F9F9F7;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    grid-row: 2;
}

.weather {
    width: auto;
    height: auto;
    border: 2px solid #004E98;
    background-color: #F9F9F7;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    grid-row: 3;
}

.weather h2 {
    color: #004E98;
}

.news {
    width: auto;
    height: auto;
    border: 2px solid #004E98;
    background-color: #F9F9F7;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    grid-row: 4;
}

.spotlight {
    width: auto;
    height: auto;
    border: 2px solid #004E98;
    background-color: #F9F9F7;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    grid-row: 5;
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-gap: 1rem;
}

.box1 {
    grid-row: 1;
    border: 1px solid #004E98;
}

.box2 {
    grid-row: 2;
    border: 1px solid #004E98;
}

.box3,
.join {
    display: none;
}



footer {
    background-color: #FABEC0;
    /*width: 100%;*/
    text-align: center;
    align-items: center;
    color: #004E98;
    /* display: flex; */
    /* flex-flow: row; */
    /* display: grid; */
    /* grid-template-rows: 2; */
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin: 5px;
    margin-top: var(--white-space);
}

.boxes {
    width: 100%;
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grip-gap: 50px; */
    padding: 45px 0px;
}


.boxes .box .footer-logo picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .box .footer-logo picture img {
    width: 100px;
}

.boxes .box .address h2 {
    color: #004E98;
    margin-bottom: 35px;
}

.boxes .box .address address {
    margin-bottom: 45px;
}

.boxes .box .footercontact a {
    text-decoration: none;
}



.footer-logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer picture img {}

.address {
    display: block;
    justify-content: center;
    align-items: center;
}

.footercontact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.footercontact a {
    color: #004E98;
    justify-content: center;
}

/* Discover */
.discover { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover picture {
    align-self: center;
}


.discover picture img {
    max-width: 100%;
    align-self: center;
}

.discover img[data-src] {
    
  }
  
  .discover img {
    transition: filter 0.5 s;
  }
  
  
  .discover section .text {
    background-color: #F9F9F7;
  }